/* Global **********************************/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,400i');

* {
	box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

html {
	font-size: 30px;
	font-family: "Montserrat", sans-serif;
	color:  #1e1e1e;
}

h1, h2, h3 {
/*	font-family: "Montserrat", sans-serif;
	color:  #1e1e1e;*/
	text-transform: uppercase;
}

h1 {
	font-size: 1rem;
}

section {
	text-align: center;
	padding: 140px 0px;

	background-color: white;


}

section .section_highlight {
	background-color: #f3f3f3;
}

p {
	margin-bottom: 30px;

	font-family: 'DroidSerif', serif;
	color:  #afafaf;
	font-size: 0.466rem;
	font-weight: 400;
	line-height: 1.714;
	text-align: center;
}

a {
	color:  #1e1e1e;
	font-size: 0.466rem;
	font-weight: 400;
	text-decoration: none;
}

/* Helper **********************************/
.wrapper {
	clear: both;
	max-width: 1170px;

	margin: 0 auto;
}

/* Body **********************************/
body {
	margin: 0 auto;
	padding: 0;
}

/* Header **********************************/
header {
	position: relative;

	height: 800px;
}

header h2 {
	position: absolute;
	top: 50%;
	left: 50%;;
	transform: translate(-50%,calc(-50% + 2.33rem / 2));

	width: 48.8%;
	margin: 0;
	padding: 0;

	color:  #ffffff;
	font-size: 2.33rem;
	font-weight: 700;
	text-align: center;
}

.blog_header_hero h2 {
	color:  #1e1e1e;
}

/* Header Hero ****/
.home_header_hero {
	position: relative; /*TODO: Remove */

	background-image: url("../images/home/hero.jpg");
	background-size: cover;
	background-position: center center;
}

.header_hero_blocks {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	width: 100%;
}

.header_hero_block {
	width: 8.33%;
	padding: 23px;

	background-color: #1e1e1e;

	/*font-family: 'Montserrat', sans-serif;*/
	color:  #ffffff;
	font-size: 0.466rem;
	font-weight: 400;

	text-align: center;
}

.header_hero_block p {
	padding: 0px;
	margin: 0px auto;
}

.prev_header_hero_block {
	float: left;	
}

.next_header_hero_block {
	float: right;
}

/* Header Navigation ****/

.header_nav_container {
	position: relative;
}

.header_nav_container h1 {
	display: inline;
	float: left;

	padding: 0px;
	margin: 0px;

	font-weight: 700;
	
}

.header_nav_container nav {
	float: right;

	position: relative;
	top: 50%;
	transform: translateY(50%);
}

.header_nav_container nav ul {
	padding: 0px;
	margin: 0px;

	list-style-type: none;
}

.header_nav_container nav li {
	float: left;

	padding: 0px 12px;

	font-size: 0.466rem;
	font-weight: 400;
	/*font-family: "Montserrat", sans-serif;*/
	text-transform: uppercase;

}
 /************/

/* Footer **********************************/
footer {
	padding: 50px 0;

	background-color:  #ffd96d;
	text-align: center;
	
}

footer h1 {
	display: inline;
	padding: 0;
	margin: 0;
}

footer ul {
	list-style-type: none;

	margin: 20px 0px;
	padding: 0;
}

footer li {
	display: inline;

	padding: 0 0.383rem;
	margin: 0;

	font-size: 0.466rem;
	font-weight: 400;
	text-transform: uppercase;
}

.copyright {
	margin: 0;

	font-family: 'DroidSerif', serif;
	font-size: 0.466rem;
	font-style: italic;
}

/* INDEX CONTENT **********************************/
/*
/*
/*
/*
/***************************************************/

/* Intro Section **********************************/
.img_over_block_graphic {
	margin: 50px;
}

.img_over_block_graphic img{
	width: 12.33rem;
}

/* Progress Section **********************************/
.progress_figures {
	padding: 0;
	margin: 0;

	list-style-type: none;
}

.progress_figures li {
	float: left;
	width: 25%;

	padding: 0 15px;
}

.progress_figure h3 {
	margin: 0;
	margin-bottom: 30px;

	font-size: 0.8rem;
	font-weight: 700;
	line-height: 1;
}

.progress_graphic {
	position: relative;

	width: 74.1%;
	margin: 0 auto;
}

.progress_graphic img {
	width: 100%;
}

.progress_graphic p {
	position: absolute;
	top: 91.2%;
	left: 50%;
	transform: translate(-50%,-50%);

	margin: 0;
	padding: 0;

	font-family: "Montserrat", sans-serif;
	font-size: 0.8rem;/* Approximation due to font substitution */
	font-weight: 700;
	color:  #1e1e1e;
	text-align: center;
}

.stars {
	width: 46.2%;
	padding: 0;
	margin: 0 auto;

	list-style-type: none;

	border: 1px solid red;
}

.stars li {
	float: left;

	width: 20%
	padding: 0;
	margin: 0;

	border: 1px solid red;
}

.progress_figure .subtitle {
	padding: 0;
	margin: 0 auto;

	font-family: "Montserrat", sans-serif;
	font-size: 0.0.466rem;
	font-weight: 400;
	color:  #1e1e1e;
	text-align: center;
}